absl-py==0.9.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appnope==0.1.0
appscript==1.0.1
arch==4.11
asn1crypto==0.24.0
astroid==2.2.5
astropy==3.2.1
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.1.0
babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backtesting==0.1.2
beautifulsoup4==4.7.1
bitarray==0.9.3
bkcharts==0.2
bleach==3.1.0
bokeh==1.2.0
boto==2.49.0
bottleneck==1.2.1
cached-property==1.5.1
cachetools==4.1.0
certifi==2019.6.16
cffi==1.12.3
chainer==7.4.0
chardet==3.0.4
click==7.0
cloudpickle==1.2.1
clyent==1.2.2
colorama==0.4.1
conda-build==3.18.8
conda-package-handling==1.3.11
conda-verify==3.4.2
conda==4.7.10
configparser==5.0.0
contextlib2==0.5.5
cryptography==2.7
cycler==0.10.0
cython==0.29.12
cytoolz==0.10.0
dask==2.1.0
decorator==4.4.0
defusedxml==0.6.0
distributed==2.1.0
docker-pycreds==0.4.0
docutils==0.14
dopamine-rl==3.0.1
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flask==1.1.1
future==0.17.1
gast==0.3.3
gevent==1.4.0
gin-config==0.3.0
gitdb==4.0.5
gitpython==3.1.2
glob2==0.7
gmpy2==2.0.8
google-auth-oauthlib==0.4.1
google-auth==1.14.2
google-pasta==0.2.0
gql==0.2.0
graphql-core==1.1
greenlet==0.4.15
grpcio==1.28.1
gym==0.17.2
h5py==2.10.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.17
ipykernel==5.1.1
ipython-genutils==0.2.0
ipython==7.6.1
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
jinja2==2.10.1
joblib==0.13.2
json5==0.8.4
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter==1.0.0
jupyterlab-server==1.0.0
jupyterlab==1.0.2
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.3.1
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.3.4
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
more-itertools==7.0.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
multitasking==0.0.9
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.4
nose==1.3.7
notebook==6.0.0
numba==0.44.1
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
oandapy==0.0.9
oandapyv20==0.6.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
openpyxl==2.6.2
opt-einsum==3.2.1
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.4
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
pillow==6.1.0
pip==19.1.1
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.9
property-cached==1.6.3
protobuf==3.11.3
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
pyglet==1.5.0
pygments==2.4.2
pylint==2.3.1
pyodbc==4.0.26
pyopenssl==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
pysimplemodel==2.3.3
pysocks==1.7.0
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
pytest==5.0.1
python-dateutil==2.8.0
python-status==1.0.1
pytz==2019.1
pywavelets==1.0.3
pyyaml==5.1.1
pyzmq==18.0.0
qpython==2.0.0
qtawesome==0.5.7
qtconsole==4.5.1
qtpy==1.8.0
requests-oauthlib==1.3.0
requests==2.22.0
rope==0.14.0
rsa==4.0
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.4.1
seaborn==0.9.0
selenium==3.141.0
send2trash==1.5.0
sentry-sdk==0.14.4
setuptools==41.0.1
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
smmap==3.0.4
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder-kernels==0.5.1
spyder==3.3.6
sqlalchemy==1.3.5
statsmodels==0.10.0
subprocess32==3.5.4
sympy==1.4
tables==3.5.2
tblib==1.4.0
tensorboard-plugin-wit==1.6.0.post3
tensorboard==2.2.1
tensorflow-estimator==2.2.0
tensorflow==2.2.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
typing-extensions==3.7.4.2
unicodecsv==0.14.1
urllib3==1.24.2
wandb==0.8.36
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
werkzeug==0.15.4
wheel==0.33.4
widgetsnbextension==3.5.0
wrapt==1.11.2
wurlitzer==1.0.2
xlrd==1.2.0
xlsxwriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
yfinance==0.1.54
zict==1.0.0
zipp==0.5.1